@{
    ViewBag.Title = "资产目录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="easyui-panel" title="资产目录" style="width:100%;height:80px;padding-top:10px;padding-left:10px;">
    <input id="KeyWord" class="easyui-textbox" data-options="prompt:'请输入关键字进行查询'" />
</div>
<div>
    <div id="ShowGrid"></div>
</div>

<script type="text/javascript">

    var Columns = [
        { field: 'ck', checkbox: true },   //选择
        { title: '资产编码', field: 'Code', width: 80, sortable: true },
        { title: '资产名称', field: 'Name', width: 80, sortable: true },
        { title: '规格型号', field: 'ChartNumber', width: 120, sortable: true },
        { title: '资产类型', field: 'CategoryName', width: 80, sortable: true },
        { title: '计量单位', field: 'MeasureName', width: 60, sortable: true },
        { title: '备注', field: 'Note', width: 120, sortable: true }
    ];

    //实现对DataGird控件的绑定操作
    function DataLoad() {
        var Params = {};

        $('#ShowGrid').datagrid({
            //title: '资产目录',
            iconCls: 'icon-view',
            height: function () { return document.body.clientHeight * 1 },//自动高度
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            url: '/Manage/GetAsset',
            columns: [Columns],
            pagination: true,
            pageNumber: 1,
            pageSize: 20,
            rownumbers: true,
            queryParams: Params,
            toolbar: [{
                text: '查询',
                iconCls: 'icon-search',
                handler: function () {
                    Search();
                }
            }, '-', {
                id: 'btnAdd',
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    Add();
                }
            }, '-', {
                id: 'btnEdit',
                text: '编辑',
                iconCls: 'icon-edit',
                handler: function () {
                    Edit();
                }
            }, '-', {
                id: 'btnDelete',
                text: '删除',
                iconCls: 'icon-cancel',
                handler: function () {
                    Delete();
                }
            }]
        });
    }
    //查询
    function Search() {
        var Params = {};
        Params.KeyWord = $("#KeyWord").val();
        $("#ShowGrid").datagrid("reload", Params);
    }

    function Add() {
        top.zDialog.OpenPage({
            width: 400,
            height: 260,
            url: "/Base/zcml_add?Edit=0",
            title: "新增",
            Callback: function (data) {
                Search();
            }
        });
    }

    function Edit() {
        var objs = $('#ShowGrid').datagrid('getChecked');
        if (objs.length > 0) {
            if (objs.length == 1) {
                top.zDialog.OpenPage({
                    width: 400,
                    height: 260,
                    url: '/Base/zcml_add?Edit=1&Code=' + objs[0].Code,
                    title: "编辑",
                    Callback: function (data) {
                        Search();
                    }
                });
            } else {
                top.Dialog.alert("请选择一条资产目录编辑！")
            }
        } else {
            top.Dialog.alert("请选择要编辑的资产目录！")
        }
    }

    function Delete() {
        var objs = $('#ShowGrid').datagrid('getChecked');
        if (objs.length > 0) {
            var strCode = "", count = 0;
            $.each(objs, function (i, obj) {
                strCode = strCode + obj.Code + ",";
                count++;
            });
            if (count > 0) {
                strCode = strCode.substring(0, strCode.length - 1);
                top.Dialog.confirm("确定删除？", function () {
                    $.post("AssetDelete", { StrCode: strCode }, function (data) {
                        if (data > 0) {
                            Search();
                            top.Dialog.alert("删除成功！");
                        } else if (data < 0) {
                            top.Dialog.alert("删除失败！");
                        } else {
                            top.Dialog.alert("已在使用，不能删除！");
                        }
                    });
                });
            }
        } else {
            top.Dialog.alert("请选择要删除的资产目录！");
        }
    }

    $(document).ready(function () {
        DataLoad();
    });

</script>


